Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
Flask-APScheduler
psycopg2-binary
gunicorn
python-dotenv
alembic
sqlalchemy
werkzeug
razorpay
Flask-Mail
itsdangerous
PyJWT
email-validator
WeasyPrint
Flask-Babel