{% extends "email/base_email.html" %}

{% block title %}Reset Your Aquajal Password{% endblock %}
{% block header_title %}Password Reset Request{% endblock %}

{% block content %}
<p>Dear {{ user.username }},</p>
<p>We received a request to reset the password for your Aquajal account. Click the button below to set a new password:</p>
<div class="button-container">
    <a href="{{ url_for('public.reset_password', token=token, _external=True) }}" class="button">Reset Your Password</a>
</div>
<p>If you didn't request a password reset, you can safely ignore this email. Your password will not be changed.</p>
<p>This password reset link will expire in 10 minutes.</p>
<p>Sincerely,<br>The Aquajal Team</p>
{% endblock %}