{% extends "base.html" %}

{% block content %}
<h2>{{ title }}</h2>
<div class="card">
    <div class="card-body">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    {{ form.sale_price.label(class="form-label") }}
                    {{ form.sale_price(class="form-control") }}
                </div>
                <div class="col-md-4 mb-3">
                    {{ form.regular_price.label(class="form-label") }}
                    {{ form.regular_price(class="form-control") }}
                </div>
                <div class="col-md-4 mb-3">
                    {{ form.duration_days.label(class="form-label") }}
                    {{ form.duration_days(class="form-control") }}
                </div>
            </div>
            <div>
                {{ form.submit(class="btn btn-primary") }}
                <a href="{{ url_for('admin.list_plans') }}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}